
<script src="/js/go-w3schools-sql.js"></script>
<script src="/js/go-sqliteonline-fiddle.js"></script>
<script src="/js/go-w3schools-sql-datatypes.js"></script>
<script src="/js/go-w3schools-sql-primarykey.js"></script>
<script src="/js/go-mycompiler.js"></script>

</body>
</html>
